@model IEnumerable<AMEL2.tblAntriebsart>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Antriebsart)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Antriebsart)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDAA }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDAA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDAA })
        </td>
    </tr>
}

</table>
